html, head, body{
    margin: 0;
    padding: 25px;
    background-color: #2a2a2a;

}

#gl-canvas{
    width: 512px;
    height: 512px;

    background-color: #da6052;

}

#error-box {
    color: #fd8080;
    font-weight: 500;
    font-size: 18pt;
    border: 1px solid white;
    padding: 25px;
    margin-top: 20px;
}

.error-box-title{
    color: #eee;
    border-bottom: 1px solid gray;
}